html,
body {
    height: 100%;
}

body {
    padding-top: 5rem;
    background-color: #ffffff5e;
}

.form {
    max-width: 25rem;
    margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #bd1b1b;
    ;
    border-color: #bd1b1b;
    ;
}

#withLine {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.mt-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

#withLine span {
    background: #fff;
    padding: 0 10px;
}

.form-floating {
    margin-top: 20px;
}

#usernameErr {
    color: red;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
}

.mb-3 {
    margin-bottom: 0 !important;
}

label {
    color: white;
    text-align: left !important;
}
#edit-form label {
    color: black;
    text-align: left !important;
}
input {
    width: 13rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.w3-animate-top {
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
}
.w3-section, .w3-code {
    margin-top: 16px!important;
    margin-bottom: 0px!important;
}


@media (min-width: 400px) {
    input {
        float: right;
    }

    label {
        display: inline-block;
    }
}

@media(max-width:400px) {
    input {
        box-sizing: unset !important;
    }

    label {
        box-sizing: unset !important;
    }
}

@media (min-width: 993px) {
    .w3-modal-content {
        width: 30rem;
    }
}